bokeh==2.4.3
docxpy==0.8.5
docx2txt==0.8
pypdf==4.1.0
docx2pdf==0.1.8
flask==2.2.3
python-dotenv
Flask-Mail
fpdf==1.7.2
ipykernel==6.16.2
nltk==3.8.1
openpyxl==3.1.2
pandas==1.3.5
pdfminer==20191125
werkzeug==2.3.6
scikit-learn==1.3.2
spacy==3.5.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
openai==0.28.0
PyPDF2==3.0.1
zipp==3.14.0
urllib3==1.25.11
langchain==0.0.351
langchain-community==0.0.4
langchain-core==0.1.1
beautifulsoup4>=4.9
requests>=2.20
tiktoken==0.5.2
python-certifi-win32
googlesearch-python==1.2.3
spacy_langdetect==0.1.2
setuptools
